<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yurihuallpavargasgmail.machupicchuyourself" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logofootpath"
        android:label="@string/app_name"
        android:theme="@style/Theme.MachupicchuYourSelf" >
        <activity
            android:name=".ActividadSplash"
            android:label="@string/app_name"
            android:configChanges="screenSize|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActividadPrincipal"
            android:label="@string/app_name"
            android:parentActivityName=".ActividadSplash"
            android:configChanges="screenSize|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yurihuallpavargasgmail.machupicchuyourself.ActividadSplash" />
        </activity>
        <activity
            android:name=".ActividadPaquete"
            android:label="@string/title_activity_actividad_paquete"
            android:parentActivityName=".ActividadPrincipal"
            android:configChanges="screenSize|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yurihuallpavargasgmail.machupicchuyourself.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".ActividadPagina"
            android:label="@string/title_activity_actividad_pagina"
            android:parentActivityName=".ActividadPaquete"
            android:configChanges="screenSize|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yurihuallpavargasgmail.machupicchuyourself.ActividadPaquete" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ActividadMapa"
            android:label="@string/title_activity_actividad_mapa"
            android:configChanges="screenSize|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yurihuallpavargasgmail.machupicchuyourself.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".ActividadCarrito"
            android:label="@string/title_activity_actividad_about"
            android:parentActivityName=".ActividadPrincipal"
            android:configChanges="screenSize|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yurihuallpavargasgmail.machupicchuyourself.ActividadPrincipal" />
        </activity>
    </application>

</manifest>
